include components/global.pug
include components/svg/index.pug
include components/head/index.pug

- 
    pageSettings = {
        title: 'Задание 5',
        contacts: false
    }


<!DOCTYPE html>
html(lang=global.lang)
    head
        +head(pageSettings)
    body.page
        include components/header/index.pug
        main

            include components/sections/six/index.pug
        include components/footer/index.pug