section.section
    .container
        .figure
            .figure__one
                .figure__rectangle
                    span Middle
            .figure__two 
                .figure__rectangle
                    span Middle
            .figure__three
                .figure__rectangle
                    span Middle
            .figure__four
                .figure__rectangle
                    span Middle
            .figure__five
                .figure__rectangle
                    span Middle