section.section
    .container
        .table
            .table__title
                h1 Statement Summary
            .table__name
                .table__row.table__row
                    .table__col 
                        span ACCOUNT
                    .table__col 
                        span DUE DATE
                    .table__col
                        span AMOUNT
                    .table__col
                        span PERIOD
            .table__box
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col 
                        span Visa 3412
                    .table__col
                        span 04/01/2016
                    .table__col
                        span $1,190
                    .table__col
                        span 03/01/2016 - 03/31/2016
            .table__mobile
                .table__row
                    .table__col
                        span ACCOUNT
                        span Visa 3412
                    .table__col
                        span DUE DATE
                        span 04/01/2016
                    .table__col
                        span AMOUNT
                        span $1,190
                    .table__col
                        span PERIOD
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col
                        span ACCOUNT
                        span Visa 3412
                    .table__col
                        span DUE DATE
                        span 04/01/2016
                    .table__col
                        span AMOUNT
                        span $1,190
                    .table__col
                        span PERIOD
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col
                        span ACCOUNT
                        span Visa 3412
                    .table__col
                        span DUE DATE
                        span 04/01/2016
                    .table__col
                        span AMOUNT
                        span $1,190
                    .table__col
                        span PERIOD
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col
                        span ACCOUNT
                        span Visa 3412
                    .table__col
                        span DUE DATE
                        span 04/01/2016
                    .table__col
                        span AMOUNT
                        span $1,190
                    .table__col
                        span PERIOD
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col
                        span ACCOUNT
                        span Visa 3412
                    .table__col
                        span DUE DATE
                        span 04/01/2016
                    .table__col
                        span AMOUNT
                        span $1,190
                    .table__col
                        span PERIOD
                        span 03/01/2016 - 03/31/2016
                .table__row
                    .table__col
                        span ACCOUNT
                        span Visa 3412
                    .table__col
                        span DUE DATE
                        span 04/01/2016
                    .table__col
                        span AMOUNT
                        span $1,190
                    .table__col
                        span PERIOD
                        span 03/01/2016 - 03/31/2016
