section.section.section_menu
    <input id="open-menu" type="checkbox" />
    .btn
        <label class="open" for="open-menu">
            <span></span>
        </label>
    
    .close
        span
        span 
    .menu
        nav.menu__box
            a(href="#").menu__link Home
            a(href="#").menu__link About
            a(href="#").menu__link Info
            a(href="#").menu__link Contacts
